:root {
  --primary-color: #003dff;
  --content-header-space: 100px;
  --header-height: 73px;
  --btn-height: 60px;
  --member-img-container-height: 224px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: headerfont;
}

@font-face {
  font-family: headerfont;
  src: url(./font/biko/Biko_Regular.otf);
}
@font-face {
  font-family: desfont;
  src: url(./font/Pragmatica-ExtraLight.ttf);
}

@font-face {
  font-family: desfont--black;
  src: url(./font/Helvetica/helveticaneue.ttf);
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: headerfont;
  box-sizing: border-box;
}

.btn {
  max-width: 263px;
  width: 100%;
  min-width: 240px;
  height: var(--btn-height);

  border-radius: 50px;
  display: block;
  transition: ease 0.3s;
}

.btn--white {
  background-color: #fff;
}
.btn--black {
  background-color: #000;
}

.btn--black:hover {
  background-color: var(--primary-color);
  transition: ease 0.4s;
}

.btn--white:hover {
  background-color: #d9dada;
  transition: ease 0.3s;
}

.header-page {
  font-size: 9rem;
  color: #fff;
  line-height: 10rem;
  font-family: headerfont;
}

.header-page--black {
  color: #000;
}

.description__text {
  color: #fff;
  line-height: 4rem;
  font-family: desfont;
}

.description__text--black {
  color: #000;
}

.description__text--potrait {
  font-size: 2.1rem;
  line-height: 3rem;
  display: block;
  padding-bottom: 67px;
}

.more__link {
  font-size: 2.4rem;
  text-decoration: none;
  position: relative;
  display: block;
  transition: right ease 0.3s;
  right: 0;
  margin-top: 40px;
}

.more__link--white:hover {
  right: -10px;
  transition: right ease 0.3s;
  color: #d9dada;
}

.more__link--black:hover {
  right: -10px;
  transition: right ease 0.3s;
  color: rgb(10, 10, 10);
}

.more__link-before--white::before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  bottom: -10px;
}

.more__link--before-black::before {
  content: "";
  border: 1px solid #000;
  position: absolute;
  bottom: -10px;
}

.more__icon--white,
.more__link--white {
  color: #fff;
}

.more__link--black,
.more__icon--white {
  color: #000;
}

.more__icon {
  font-size: 1.7rem;
}

.more__icon--white {
  color: #fff;
}
/* Animation */

@keyframes dropDown {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-135%);
  }
}

@keyframes bubble {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(4vw) rotate(0deg);
  }
  to {
    transform: rotate(90deg) translateX(4vw) rotate(-360deg);
  }
}
