:root {
  --column-width: calc(100% / 12);
}

* {
  box-sizing: border-box;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.mb-0 {
  display: none;
}

.mb-1 {
  flex: 0 0 var(--column-width);
  max-width: var(--column-width);
}

.mb-2 {
  flex: 0 0 calc(var(--column-width) * 2);
  max-width: calc(var(--column-width) * 2);
}

.mb-3 {
  flex: 0 0 calc(var(--column-width) * 3);
  max-width: calc(var(--column-width) * 3);
}

.mb-4 {
  flex: 0 0 calc(var(--column-width) * 4);
  max-width: calc(var(--column-width) * 4);
}

.mb-5 {
  flex: 0 0 calc(var(--column-width) * 5);
  max-width: calc(var(--column-width) * 5);
}

.mb-6 {
  flex: 0 0 calc(var(--column-width) * 6);
  max-width: calc(var(--column-width) * 6);
}

.mb-7 {
  flex: 0 0 calc(var(--column-width) * 7);
  max-width: calc(var(--column-width) * 7);
}

.mb-8 {
  flex: 0 0 calc(var(--column-width) * 8);
  max-width: calc(var(--column-width) * 8);
}

.mb-9 {
  flex: 0 0 calc(var(--column-width) * 9);
  max-width: calc(var(--column-width) * 9);
}

.mb-10 {
  flex: 0 0 calc(var(--column-width) * 10);

  max-width: calc(var(--column-width) * 10);
}
.mb-11 {
  flex: 0 0 calc(var(--column-width) * 11);
  max-width: calc(var(--column-width) * 11);
}

.mb-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.mb-o-1 {
  margin-left: var(--column-width);
}

.mb-o-2 {
  margin-left: calc(var(--column-width) * 2);
}

.mb-o-3 {
  margin-left: calc(var(--column-width) * 3);
}

.mb-o-4 {
  margin-left: calc(var(--column-width) * 4);
}

.mb-o-5 {
  margin-left: calc(var(--column-width) * 5);
}

.mb-o-6 {
  margin-left: calc(var(--column-width) * 6);
}

.mb-o-7 {
  margin-left: calc(var(--column-width) * 7);
}

.mb-o-8 {
  margin-left: calc(var(--column-width) * 8);
}

.mb-o-9 {
  margin-left: calc(var(--column-width) * 9);
}

.mb-o-10 {
  margin-left: calc(var(--column-width) * 10);
}

.mb-o-11 {
  margin-left: calc(var(--column-width) * 11);
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .tb-0 {
    display: none;
  }

  .tb-1,
  .tb-2,
  .tb-3,
  .tb-4,
  .tb-5,
  .tb-6,
  .tb-7,
  .tb-8,
  .tb-9,
  .tb-10,
  .tb-11,
  .tb-12 {
    display: block;
  }

  .tb-1 {
    flex: 0 0 var(--column-width);
    max-width: var(--column-width);
  }

  .tb-2 {
    flex: 0 0 calc(var(--column-width) * 2);
    max-width: calc(var(--column-width) * 2);
  }

  .tb-3 {
    flex: 0 0 calc(var(--column-width) * 3);
    max-width: calc(var(--column-width) * 3);
  }

  .tb-4 {
    flex: 0 0 calc(var(--column-width) * 4);
    max-width: calc(var(--column-width) * 4);
  }

  .tb-5 {
    flex: 0 0 calc(var(--column-width) * 5);
    max-width: calc(var(--column-width) * 5);
  }

  .tb-6 {
    flex: 0 0 calc(var(--column-width) * 6);
    max-width: calc(var(--column-width) * 6);
  }

  .tb-7 {
    flex: 0 0 calc(var(--column-width) * 7);
    max-width: calc(var(--column-width) * 7);
  }

  .tb-8 {
    flex: 0 0 calc(var(--column-width) * 8);
    max-width: calc(var(--column-width) * 8);
  }

  .tb-9 {
    flex: 0 0 calc(var(--column-width) * 9);
    max-width: calc(var(--column-width) * 9);
  }

  .tb-10 {
    flex: 0 0 calc(var(--column-width) * 10);

    max-width: calc(var(--column-width) * 10);
  }
  .tb-11 {
    flex: 0 0 calc(var(--column-width) * 11);
    max-width: calc(var(--column-width) * 11);
  }

  .tb-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tb-o-1 {
    margin-left: var(--column-width);
  }

  .tb-o-2 {
    margin-left: calc(var(--column-width) * 2);
  }

  .tb-o-3 {
    margin-left: calc(var(--column-width) * 3);
  }

  .tb-o-4 {
    margin-left: calc(var(--column-width) * 4);
  }

  .tb-o-5 {
    margin-left: calc(var(--column-width) * 5);
  }

  .tb-o-6 {
    margin-left: calc(var(--column-width) * 6);
  }

  .tb-o-7 {
    margin-left: calc(var(--column-width) * 7);
  }

  .tb-o-8 {
    margin-left: calc(var(--column-width) * 8);
  }

  .tb-o-9 {
    margin-left: calc(var(--column-width) * 9);
  }

  .tb-o-10 {
    margin-left: calc(var(--column-width) * 10);
  }

  .tb-o-11 {
    margin-left: calc(var(--column-width) * 11);
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* >PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .pc-0 {
    display: none;
  }

  .wide .pc-1,
  .wide .pc-2,
  .wide .pc-2-10,
  .wide .pc-3,
  .wide .pc-4,
  .wide .pc-5,
  .wide .pc-6,
  .wide .pc-7,
  .wide .pc-8,
  .wide .pc-9,
  .wide .pc-10,
  .wide .pc-11,
  .wide .pc-12 {
    display: block;
  }

  .wide .pc-1 {
    flex: 0 0 var(--column-width);
    max-width: var(--column-width);
  }

  .wide .pc-2 {
    flex: 0 0 calc(var(--column-width) * 2);
    max-width: calc(var(--column-width) * 2);
  }

  .wide .pc-2-10 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .pc-3 {
    flex: 0 0 calc(var(--column-width) * 3);
    max-width: calc(var(--column-width) * 3);
  }

  .wide .pc-4 {
    flex: 0 0 calc(var(--column-width) * 4);
    max-width: calc(var(--column-width) * 4);
  }

  .wide .pc-5 {
    flex: 0 0 calc(var(--column-width) * 5);
    max-width: calc(var(--column-width) * 5);
  }

  .wide .pc-6 {
    flex: 0 0 calc(var(--column-width) * 6);
    max-width: calc(var(--column-width) * 6);
  }

  .wide .pc-7 {
    flex: 0 0 calc(var(--column-width) * 7);
    max-width: calc(var(--column-width) * 7);
  }

  .wide .pc-8 {
    flex: 0 0 calc(var(--column-width) * 8);
    max-width: calc(var(--column-width) * 8);
  }

  .wide .pc-9 {
    flex: 0 0 calc(var(--column-width) * 9);
    max-width: calc(var(--column-width) * 9);
  }

  .wide .pc-10 {
    flex: 0 0 calc(var(--column-width) * 10);

    max-width: calc(var(--column-width) * 10);
  }
  .wide .pc-11 {
    flex: 0 0 calc(var(--column-width) * 11);
    max-width: calc(var(--column-width) * 11);
  }

  .wide .pc-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .pc-o-1 {
    margin-left: var(--column-width);
  }

  .wide .pc-o-2 {
    margin-left: calc(var(--column-width) * 2);
  }

  .wide .pc-o-3 {
    margin-left: calc(var(--column-width) * 3);
  }

  .wide .pc-o-4 {
    margin-left: calc(var(--column-width) * 4);
  }

  .wide .pc-o-5 {
    margin-left: calc(var(--column-width) * 5);
  }

  .wide .pc-o-6 {
    margin-left: calc(var(--column-width) * 6);
  }

  .wide .pc-o-7 {
    margin-left: calc(var(--column-width) * 7);
  }

  .wide .pc-o-8 {
    margin-left: calc(var(--column-width) * 8);
  }

  .wide .pc-o-9 {
    margin-left: calc(var(--column-width) * 9);
  }

  .wide .pc-o-10 {
    margin-left: calc(var(--column-width) * 10);
  }

  .wide .pc-o-11 {
    margin-left: calc(var(--column-width) * 11);
  }
}

/* PC medium resolution */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .pc-0 {
    display: none;
  }

  .pc-1,
  .pc-2,
  .pc-2-10,
  .pc-3,
  .pc-4,
  .pc-5,
  .pc-6,
  .pc-7,
  .pc-8,
  .pc-9,
  .pc-10,
  .pc-11,
  .pc-12 {
    display: block;
  }

  .pc-1 {
    flex: 0 0 var(--column-width);
    max-width: var(--column-width);
  }

  .pc-2 {
    flex: 0 0 calc(var(--column-width) * 2);
    max-width: calc(var(--column-width) * 2);
  }

  .pc-2-10 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .pc-3 {
    flex: 0 0 calc(var(--column-width) * 3);
    max-width: calc(var(--column-width) * 3);
  }

  .pc-4 {
    flex: 0 0 calc(var(--column-width) * 4);
    max-width: calc(var(--column-width) * 4);
  }

  .pc-5 {
    flex: 0 0 calc(var(--column-width) * 5);
    max-width: calc(var(--column-width) * 5);
  }

  .pc-6 {
    flex: 0 0 calc(var(--column-width) * 6);
    max-width: calc(var(--column-width) * 6);
  }

  .pc-7 {
    flex: 0 0 calc(var(--column-width) * 7);
    max-width: calc(var(--column-width) * 7);
  }

  .pc-8 {
    flex: 0 0 calc(var(--column-width) * 8);
    max-width: calc(var(--column-width) * 8);
  }

  .pc-9 {
    flex: 0 0 calc(var(--column-width) * 9);
    max-width: calc(var(--column-width) * 9);
  }

  .pc-10 {
    flex: 0 0 calc(var(--column-width) * 10);

    max-width: calc(var(--column-width) * 10);
  }
  .pc-11 {
    flex: 0 0 calc(var(--column-width) * 11);
    max-width: calc(var(--column-width) * 11);
  }

  .pc-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pc-o-1 {
    margin-left: calc(var(--column-width) * 1);
  }

  .pc-o-2 {
    margin-left: calc(var(--column-width) * 2);
  }

  .pc-o-3 {
    margin-left: calc(var(--column-width) * 3);
  }

  .pc-o-4 {
    margin-left: calc(var(--column-width) * 4);
  }

  .pc-o-5 {
    margin-left: calc(var(--column-width) * 5);
  }

  .pc-o-6 {
    margin-left: calc(var(--column-width) * 6);
  }

  .pc-o-7 {
    margin-left: calc(var(--column-width) * 7);
  }

  .pc-o-8 {
    margin-left: calc(var(--column-width) * 8);
  }

  .pc-o-9 {
    margin-left: calc(var(--column-width) * 9);
  }

  .pc-o-10 {
    margin-left: calc(var(--column-width) * 10);
  }

  .pc-o-11 {
    margin-left: calc(var(--column-width) * 11);
  }
}
