.header {
  height: var(--header-height);
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header__logo {
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: auto;
  height: 28px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 30px;
  transition: ease 0.3s;
}

.nav-item:hover {
  color: var(--primary-color);
  transition: ease 0.3s;
}

.nav-item:hover .nav-item__list {
  display: block;
}

.nav-item:last-child {
  padding-right: 0;
  width: 145px;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  transition: ease 0.3s;
}

.nav-item:last-child:hover {
  transition: ease 0.3s;
  background-color: #0034d9;
}

.nav-item__name {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 400;
}

.nav-item__name-link {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.nav-item__list {
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: var(--header-height);
  left: 0;
  padding: 20px;
  background-color: #fff;
  display: none;
  animation: dropDown ease 0.3s;
  transform-origin: top;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item__list-item {
  display: inline-block;
  margin-bottom: 20px;
}

.nav-item__list-item:last-child {
  margin-bottom: 0;
}

.nav-item__list-item-link {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  transition: ease 0.3s;
  transition: right ease 0.3s;
  right: 0;
  display: inline-block;
  min-width: 145px;
  opacity: 0.5;
  position: relative;
}

.nav-item__list-item-link:hover {
  color: var(--primary-color);
  transition: right ease 0.2s;
  right: -5px;
  opacity: 1;
}

/* Content standard */
.content-design {
  position: relative;
  width: 100%;

  display: block;
  background-color: white;
}
.standard {
  background-image: url(https://static.wixstatic.com/media/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.png/v1/fill/w_1531,h_830,al_c,q_90,usm_0.66_1.00_0.01/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.webp),
    linear-gradient(
      133deg,
      rgba(2, 2, 2, 1) 25%,
      rgba(14, 19, 29, 1) 60%,
      rgba(30, 44, 72, 1) 73%,
      rgba(48, 72, 119, 1) 88%,
      rgba(77, 117, 196, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1030px;
  margin-top: var(--header-height);
  position: relative;
  overflow: hidden;
}

.standard__header {
  padding: 100px 50px 50px 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: helvetica;
}

.header-page__standard {
  max-width: calc(100% / 2);
}

.standard-description {
  max-width: 650px;
  position: relative;
  font-size: 3.5rem;
}

.standard-description-btn {
  position: absolute;
  top: calc(100% + 36px);
  center: 0;
}

.standard-img-items {
  object-fit: cover;
  object-position: 50% 50%;
}

.standard__img {
  position: absolute;
  bottom: -58px;
  right: 1737px;
  max-width: 257px;
  width: 100%;
  height: auto;
}

.standard__img-two {
  max-width: 745px;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 931px;
  z-index: 2;
}

.standard__img-three {
  position: absolute;
  bottom: 0px;
  right: 346px;
  max-width: 349px;
  width: 100%;
  height: auto;
}

.standard__img-four {
  position: absolute;
  bottom: 0px;
  right: 0;
  max-width: 304px;
  width: 100%;
  height: auto;
}

.btn-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: var(--btn-height);
  font-size: 2rem;
  font-weight: bold;
}

.btn-link--white {
  color: #000;
}
.btn-link--black {
  color: #fff;
}

/* content advanced  */

.advanced {
  background-image: url(https://static.wixstatic.com/media/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.png/v1/fill/w_1531,h_830,al_c,q_90,usm_0.66_1.00_0.01/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.webp),
    linear-gradient(
      51deg,
      rgba(144, 144, 144, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 13, 32, 1) 42%,
      rgba(1, 37, 71, 1) 73%,
      rgba(0, 23, 69, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
  position: relative;
}

.advanced-header {
  right: 75px;
  bottom: 300px;
}

.header--potrait {
  max-width: 574px;
  width: 100%;
  position: absolute;
}

.header-page__advanced,
.header-page--potrait {
  font-size: 6.5rem;
  line-height: 6rem;
}

.advanced-description,
.header-description--potrait {
  max-width: 501px;
  padding-top: 67px;
  position: relative;
}

.advanced-description__text,
.description-text {
  font-size: 2.1rem;
  line-height: 3rem;
  display: block;
  padding-bottom: 67px;
}

.description-text {
}

.more__link-advance::before {
  content: "";
  width: 46%;
}

.advanced-img__container {
  width: 717px;
  height: 443px;
  position: absolute;
  right: 931px;
  z-index: 2;
  bottom: 278px;
}

.advanced-img__background {
  width: 100%;
  height: 100%;
}

.advanced-img__people {
  width: 185px;
  height: auto;
  position: absolute;
  right: 68px;
  bottom: 93px;
  animation: bubble ease-in-out 0.7s alternate-reverse infinite;
}

/* Sticky */

.content-design__sticky {
  height: calc(1080px + 1030px + 67px - 257px - 497px - 73px);
  max-width: 954px;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  /* background-color: violet; */
  opacity: 1;
  top: calc(497px - 67px + var(--header-height));
  z-index: 1;
  right: 736px;
}

.sticky-container {
  position: sticky;
  width: 100%;
  max-width: 954px;
  max-height: 100%;
  height: 528px;
  background-color: transparent;
  right: 0px;
  top: 250px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sticky__header-bar {
  width: 100%;
  height: 28px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.header-bar-icon-container-right,
.header-bar-icon-container-left {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 100%;
}

.header-bar-icon-container-right {
  border-left: 1px solid #ccc;
}

.header-bar-icon-container-left {
  border-right: 1px solid #ccc;
}
.sticky__main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.sticky__main-mirror {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #24282d;
  border: 1px solid #fff;
  opacity: 0.5;
}

.sticky__main-side-bar {
  width: 167px;
  background-color: #fff;
  height: 100%;
  margin-left: 18px;
}

/* side bar top  */

.side-bar-top-container {
  display: flex;
  height: 50%;
  position: relative;
  flex-direction: column;
}

.side-bar__header {
  position: absolute;
  height: 27px;
  background-color: #f4f5f8;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.side-bar__header-text {
  font-size: 1rem;
  font-family: headerfont;
  font-weight: 700;
  padding-left: 12px;
}

.side-bar__header-icon {
  font-size: 0.7rem;
  padding-right: 12px;
}

.side-bar-top__content {
  height: 100%;
  /* background-color: green; */
  position: relative;
  padding: 12px;
}

.side-bar-top__content-header {
  position: absolute;
  top: 0;
  height: 34px;
  width: 100%;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  position: relative;
}

.content-header__text {
  font-size: 1rem;
  color: #000;
}

.side-bar-top__content-main {
  height: calc(100% - 34px);
  width: 100%;
  /* background-color: hotpink; */
  position: relative;
}

.content-main__btn {
  display: flex;
  justify-content: space-between;
  height: 30px;
  /* background-color: indianred; */
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
}

.content-main__btn-right,
.content-main__btn-left {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 3px;
}

.content-main__btn-left {
  color: #828593;
  border: 1px solid #e7e8ee;
}
.content-main__btn-right {
  background-color: #e8f1ff;
  color: #84b4ff;
  border: 1px solid #9cc3ff;
}

.content-main__info {
  /* background-color: #ccc; */
  width: 100%;
  height: 129px;
}

.content-main__info-row {
  display: flex;
  justify-content: space-between;
  height: calc(129px / 3.5);
  align-items: center;
}
.content-main__info-col {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding-right: 5px;
  align-items: center;
}

.content-main__info-row-text {
  display: inline-block;
  flex: 1;
  font-size: 0.8rem;
}

.content-main__info-row-btn {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
}

.content-main__info-row-btn-unit {
  display: inline-block;
  font-size: 0.8rem;
  color: #9cc3ff;
}

.content-main__info-col > i {
  color: #84b4ff;
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-right: 7px;
}

/* side bar bottom */

.side-bar-bottom-container {
  width: 100%;
  height: 50%;
  /* background-color: aqua; */
}

.side-bar-bottom__control {
  width: 100%;
  height: 60%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-bottom__control-item {
  width: 60%;
  height: 60%;
  background-color: #f3f7fd;
  border-radius: 5px;
  position: relative;
  border: 1.5px solid #e5e7ed;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.control-item__point {
  width: 8px;
  height: 8px;
  background-color: #c7ddff;
  position: absolute;
  border-radius: 50%;
  border: 1.5px solid #79aeff;
}

.control-item__point--above {
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.control-item__point--left {
  top: 50%;
  transform: translateY(-50%);
  left: -4px;
}

.control-item__point--right {
  top: 50%;
  transform: translateY(-50%);
  right: -4px;
  background-color: #1f77ff;
}

.control-item__point--under {
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.control-item__point--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #1f77ff;
}

.control-item__box {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 0.5px solid #bbbcbe;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.control-item__box::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px dashed #5596ff;
  top: 50%;
  transform: translateY(-50%);
  right: -118%;
}

.side-bar-bottom__info-row {
  height: calc(129px / 4);
}

.side-bar-bottom__info-btn {
  margin: 0 5px;
}

.side-bar-bottom__info-icon {
  color: #8e93aa;
}

/* Team collab */

.teamwork {
  height: 1080px;
  background-color: #eef0f4;
}

.teamwork__header-container {
  position: relative;
}

.teamwork__header {
  position: absolute;
  top: 106px;
  left: 74px;
  width: 100%;
}

.teamwork__header-page {
  font-size: 8rem;
  line-height: 8rem;
}

.teamwork-description__text {
  width: 90%;
  font-family: desfont;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 4rem;
}

.more__link-teamwork::before {
  content: "";
  width: 36%;
}

.teamwork__member {
  /* background-color: skyblue; */
  max-height: 100%;
}

.teamwork__design {
  /* background-color: slateblue; */
}

.teamwork__member-item {
  /* background-color: springgreen; */
  padding: 0;
  height: 100%;
  border-right: 1px solid #979aaa;
  border-bottom: 1px solid #979aaa;
  position: relative;
  overflow: hidden;
}

.teamwork__member-item:first-child {
  border-left: 1px solid #979aaa;
}

.teamwork__member-item--borderless {
  border-right: none;
  position: relative;
}

.teamwork__member-item--borderless::after {
  content: "";
  position: absolute;
  width: 5.8vw;
  border: 1px dashed #000;
  right: -2.98vw;
  top: 42%;
  transform: translateY(-50%);
}
.teamwork__member-status--boss,
.teamwork__member-status {
  position: absolute;
  padding: 0 25px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateX(-101%);
  transition: transform ease 0.3s;
  z-index: 1;
}

.teamwork__member-status--boss {
  top: unset;
}

.teamwork__member-item:hover .teamwork__member-status {
  transform: translateX(0);
  transition: transform ease 0.5s;
  transition-delay: 1s;
}

.member-status__header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0034d9; */
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}
.member-status__header-text {
  font-size: 1.7rem;
}
.member-status__header-icon {
  font-size: 1.5rem;
}

.member-status__content-type {
  /* background-color: #00d700; */
  height: 40px;
  display: flex;
  align-items: center;
}

.member-status__content-type__text {
  font-size: 1.5rem;
  color: rgb(121, 121, 121);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.member-status__member-info-form {
  display: flex;
  /* background-color: #2dd1b0; */
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.member-status__member-info__img {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.member-status__member-info {
  margin-left: 22px;
}
.member-status__member-info-name {
  font-size: 1.6rem;

  margin-bottom: 5px;
}

.member-status__member-info-time {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(121, 121, 121);
}

.member-status__member-info-boss {
  font-size: 1.4rem;
  font-family: headerfont;
  color: rgb(121, 121, 121);
}
.member-status__member-info-boss-icon,
.member-status__member-info-time-icon {
  font-size: 1.1rem;
  margin-right: 3px;
}

.member-status__member-info-boss-icon {
  font-size: 1.2rem;
}

.member-status__member-cmt-text {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.1rem;
}
.member-status__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.member-status__footer-text,
.member-status__footer-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.teamwork__member-row {
  height: calc(1080px / 3);
}

.member-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: var(--member-img-container-height);
  height: 100%;
  align-items: flex-end;
  position: relative;
}

.member-img-container::before {
  content: "";
  width: 54%;
  height: 7.96vw;
  border-radius: 100%;
  border: 1px solid;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
}

.member-img-container::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  bottom: calc((7.96vw / 2) - 11px);
  transform: rotate(0deg) translateY(4vw) rotate(0deg);
  transition: all ease 1.3s;
}
.member-img-container--one::before {
  border-color: #482a20;
}
.member-img-container--one::after {
  background-color: #bda182;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--one::after {
  transform: rotate(140deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #d0b596, 0 0 20px #d0b596, 0 0 30px #d0b596,
    0 0 40px #d0b596, 0 0 50px #d0b596, 0 0 60px #d0b596, 0 0 70px #d0b596,
    0 0 80px #d0b596, 0 0 90px #d0b596, 0 0 100px #d0b596;
}
.member-img-container--two::before {
  border-color: #d8d1f6;
}
.member-img-container--two::after {
  background-color: #b2a2f7;
  border: 2px solid #eef0f4;
}
.teamwork__member-item:hover .member-img-container--two::after {
  transform: rotate(200deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #b9acf0, 0 0 20px #b2a2f7, 0 0 30px #b2a2f7,
    0 0 40px #b2a2f7, 0 0 50px #b2a2f7, 0 0 60px #b2a2f7, 0 0 70px #b2a2f7,
    0 0 80px #b2a2f7, 0 0 90px #b2a2f7, 0 0 100px #b2a2f7;
}
.member-img-container--three::before {
  border-color: #ffab00;
}
.member-img-container--three::after {
  background-color: #ffab00;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--three::after {
  transform: rotate(275deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #ffab00, 0 0 20px #ffab00, 0 0 30px #ffab00,
    0 0 40px #ffab00, 0 0 50px #ffab00, 0 0 60px #ffab00, 0 0 70px #ffab00,
    0 0 80px #ffab00, 0 0 90px #ffab00, 0 0 100px #ffab00;
}
.member-img-container--four::before {
  border-color: #ff4343;
}
.member-img-container--four::after {
  background-color: #ff4343;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--four::after {
  transform: rotate(111deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #ff4343, 0 0 20px #ff4343, 0 0 30px #ff4343,
    0 0 40px #ff4343, 0 0 50px #ff4343, 0 0 60px #ff4343, 0 0 70px #ff4343,
    0 0 80px #ff4343, 0 0 90px #ff4343, 0 0 100px #ff4343;
}
.member-img-container--five::before {
  border-color: #00d700;
}
.member-img-container--five::after {
  background-color: #00d700;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--five::after {
  transform: rotate(135deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #00d700, 0 0 20px #00d700, 0 0 30px #00d700,
    0 0 40px #00d700, 0 0 50px #00d700, 0 0 60px #00d700, 0 0 70px #00d700,
    0 0 80px #00d700, 0 0 90px #00d700, 0 0 100px #00d700;
}
.member-img-container--six::before {
  border-color: #2dd1b0;
}
.member-img-container--six::after {
  background-color: #2dd1b0;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--six::after {
  transform: rotate(253deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #2dd1b0, 0 0 20px #2dd1b0, 0 0 30px #2dd1b0,
    0 0 40px #2dd1b0, 0 0 50px #2dd1b0, 0 0 60px #2dd1b0, 0 0 70px #2dd1b0,
    0 0 80px #2dd1b0, 0 0 90px #2dd1b0, 0 0 100px #2dd1b0;
}
.member-img-container--seven::before {
  border-color: #00a3ff;
}
.member-img-container--seven::after {
  background-color: #00a3ff;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--seven::after {
  transform: rotate(190deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #00a3ff, 0 0 20px #00a3ff, 0 0 30px #00a3ff,
    0 0 40px #00a3ff, 0 0 50px #00a3ff, 0 0 60px #00a3ff, 0 0 70px #00a3ff,
    0 0 80px #00a3ff, 0 0 90px #00a3ff, 0 0 100px #00a3ff;
}
.member-img-container--eight::before {
  border-color: #fe7e3f;
}
.member-img-container--eight::after {
  background-color: #fe7e3f;
  border: 2px solid #eef0f4;
}
.teamwork__member-item:hover .member-img-container--eight::after {
  transform: rotate(120deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #fe7e3f, 0 0 20px #fe7e3f, 0 0 30px #fe7e3f,
    0 0 40px #fe7e3f, 0 0 50px #fe7e3f, 0 0 60px #fe7e3f, 0 0 70px #fe7e3f,
    0 0 80px #fe7e3f, 0 0 90px #fe7e3f, 0 0 100px #fe7e3f;
}
.member-img-container--me::before {
  border-color: #fc8fbd;
}
.member-img-container--me::after {
  background-color: #fc8fbd;
  border: 2px solid #eef0f4;
}

.teamwork-invite {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: var(--member-img-container-height);
  height: 100%;
  align-items: flex-end;
  position: relative;
}

.teamwork-invite__circle {
  width: 54%;
  height: 7.96vw;
  border-radius: 100%;
  border: 1px solid;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7e7d8c;
  transition: all ease 0.3s;
  cursor: pointer;
}

.teamwork-invite__circle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  bottom: 8px;
  border-radius: 100%;
  border: 1px solid #d6dada;
  transition: all ease 0.3s;
}

.teamwork-invite__circle::after {
  content: "";
  position: absolute;
  bottom: calc((7.96vw / 2) - 7px);
  width: 100%;
  height: 100%;
  max-width: 12px;
  max-height: 12px;
  border-radius: 100%;
  background-color: coral;
  border: 1px solid #d6dada;
  transform: rotate(0deg) translateY(4vw) rotate(0deg);
  transition: all ease 1s;
}

.teamwork-invite__circle:hover {
  border-color: #fc8fbd;
}

.teamwork-invite__circle:hover::before {
  border-color: #f8d3e3;
}
.teamwork-invite__circle:hover .teamwork-invite__icon,
.teamwork-invite__circle:hover .teamwork-invite__text {
  color: #fc8fbd;
}

.teamwork-invite__circle:hover::after {
  transform: rotate(360deg) translateY(4vw) rotate(-360deg);
  transition: all linear 0.3s infinite;
  box-shadow: 0 0 10px #fc8fbd, 0 0 20px #fc8fbd, 0 0 30px #fc8fbd,
    0 0 40px #fc8fbd, 0 0 50px #fc8fbd, 0 0 60px #fc8fbd, 0 0 70px #fc8fbd,
    0 0 80px #fc8fbd, 0 0 90px #fc8fbd, 0 0 100px #fc8fbd;
}

.teamwork-invite__icon {
  font-size: 2.6rem;
  margin-bottom: 15px;
  color: #7e7d8c;
  transition: all ease 0.3s;
}

#member--me-checkbox {
  display: none;
}

.teamwork-invite__circle:checked ~ .member-info.member-info--me,
.teamwork-invite__circle:checked ~ .member-img-container--me {
  display: flex;
  animation: fadeIn ease 0.8s;
}

.teamwork-invite__circle:checked ~ .teamwork-invite {
  display: none;
  animation: fadeOut ease 0.8s;
}

.teamwork-invite__text {
  font-size: 1.5rem;
  color: #7e7d8c;
  transition: all ease 0.3s;
}

.member-info.member-info--me,
.member-img-container--me {
  display: none;
}

.teamwork-invite__circle:focus .member-info.member-info--me,
.teamwork-invite__circle:focus .member-img-container--me {
  display: flex;
  animation: fadeIn ease 0.8s;
}

.teamwork__member-item:hover .member-img-container--me::after {
  transform: rotate(235deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #fc8fbd, 0 0 20px #fc8fbd, 0 0 30px #fc8fbd,
    0 0 40px #fc8fbd, 0 0 50px #fc8fbd, 0 0 60px #fc8fbd, 0 0 70px #fc8fbd,
    0 0 80px #fc8fbd, 0 0 90px #fc8fbd, 0 0 100px #fc8fbd;
}

.member-img {
  width: 52%;
  position: relative;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.member-info {
  height: calc(100% - var(--member-img-container-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member-info__name,
.member-info__email {
  font-size: 1.5rem;
}

.member-info__name {
  display: inline-block;
  margin-bottom: 10px;
}

.member-info__email {
  display: inline-block;
  text-decoration: none;
  color: #786279;
}
