.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(40px);
}

.header__logo {
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: auto;
  height: 28px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 30px;
  transition: ease 0.3s;
}

.nav-item:hover {
  color: var(--primary-color);
  transition: ease 0.3s;
}

.nav-item:hover .nav-item__list {
  display: block;
}

.nav-item:last-child {
  padding-right: 0;
  width: 145px;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  transition: ease 0.3s;
}

.nav-item:last-child:hover {
  transition: ease 0.3s;
  background-color: #0034d9;
}

.nav-item__name {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 400;
}

.nav-item__name-link {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.nav-item__list {
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: var(--header-height);
  left: 0;
  padding: 20px;
  background-color: #fff;
  display: none;
  animation: dropDown ease 0.3s;
  transform-origin: top;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);

  z-index: 1;
}

.nav-item__list-item {
  display: inline-block;
  margin-bottom: 20px;
}

.nav-item__list-item:last-child {
  margin-bottom: 0;
}

.nav-item__list-item-link {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  transition: ease 0.3s;
  transition: right ease 0.3s;
  right: 0;
  display: inline-block;
  min-width: 145px;
  opacity: 0.5;
  position: relative;
}

.nav-item__list-item-link:hover {
  color: var(--primary-color);
  transition: right ease 0.2s;
  right: -5px;
  opacity: 1;
}

.content {
  width: 100%;
}

/* Content standard */
.content-design {
  position: relative;
  width: 100%;

  display: block;
  background-color: white;
}
.standard {
  background-image: url(https://static.wixstatic.com/media/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.png/v1/fill/w_1531,h_830,al_c,q_90,usm_0.66_1.00_0.01/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.webp),
    linear-gradient(
      133deg,
      rgba(2, 2, 2, 1) 25%,
      rgba(14, 19, 29, 1) 60%,
      rgba(30, 44, 72, 1) 73%,
      rgba(48, 72, 119, 1) 88%,
      rgba(77, 117, 196, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1030px;
  margin-top: var(--header-height);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.standard__header {
  padding: 100px 50px 50px 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: helvetica;
}

.header-page__standard {
  max-width: calc(100% / 2);
}

.standard-description {
  max-width: 650px;
  position: relative;
  font-size: 3.5rem;
}

.standard-description-btn {
  position: absolute;
  top: calc(100% + 36px);
  center: 0;
}

.standard-img-container {
  display: flex;
  height: calc(1030px - 350px);
}

.standard-img-items {
  object-fit: cover;
  object-position: 50% 50%;
  align-self: flex-end;
  position: relative;
}

.standard-img-items--one {
  min-height: 0px;
  min-width: 0px;
  width: 13.541667%;
  justify-self: start;
  position: relative;
  margin-left: -4.6875%;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: -3.125%;
}
.standard-img-items--two {
  min-height: 0px;
  width: 39.18427124157974%;
  align-self: end;
  justify-self: start;
  position: relative;
  margin-left: 2.931152%;
  margin-right: 12%;
  margin-top: 0%;
  margin-bottom: -6px;
  z-index: 2;
}
.standard-img-items--three {
  min-height: 0px;
  width: 18.38623%;
  align-self: end;
  justify-self: end;
  position: relative;
  margin-left: 0%;
  margin-right: 2.672916%;
  margin-top: 0px;
  margin-bottom: -6px;
}
.standard-img-items--four {
  min-height: 0px;
  width: 15.989583%;
  align-self: end;
  justify-self: end;
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.standard__img {
  width: 100%;
  height: auto;
}

.standard__img-two {
  max-width: 745px;
  width: 100%;
  height: auto;

  z-index: 2;
}

.standard__img-three {
  /* position: relative; */

  width: 100%;
  height: auto;
}

.standard__img-four {
  /* position: absolute; */

  width: 100%;
  height: auto;
}

.btn-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: var(--btn-height);
  font-size: 2rem;
  font-weight: bold;
}

.btn-link--white {
  color: #000;
}
.btn-link--black {
  color: #fff;
}

/* content advanced  */

.advanced {
  background-image: url(https://static.wixstatic.com/media/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.png/v1/fill/w_1531,h_830,al_c,q_90,usm_0.66_1.00_0.01/0d6674_5ab4f9b2087b49cf8377c6638786669b~mv2.webp),
    linear-gradient(
      51deg,
      rgba(144, 144, 144, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 13, 32, 1) 42%,
      rgba(1, 37, 71, 1) 73%,
      rgba(0, 23, 69, 1) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
  position: relative;
}

.advanced-header {
  right: 75px;
  bottom: 300px;
}

.header--potrait {
  max-width: 574px;
  width: 100%;
  position: absolute;
}

.header-page__advanced,
.header-page--potrait {
  font-size: 6.5rem;
  line-height: 6rem;
}

.advanced-description,
.header-description--potrait {
  max-width: 501px;
  padding-top: 67px;
  position: relative;
}

.advanced-description__text,
.description-text {
  font-size: 2.1rem;
  line-height: 3rem;
  display: block;
  padding-bottom: 67px;
}

.more__link-advance {
  max-width: 265px;
}

.more__link-advance::before {
  content: "";
  width: 86%;
}

.advanced-img__container {
  width: 38.65%;
  height: auto;
  position: absolute;
  /* right: 931px; */
  z-index: 2;
  bottom: 270px;
  margin-left: 11.9%;
  margin-right: auto;
}

.advanced-img__background {
  width: 100%;
  height: 100%;
}

.advanced-img__people {
  width: 29.92%;
  height: auto;
  position: absolute;
  right: 68px;
  bottom: 93px;
  animation: bubble ease-in-out 0.7s alternate-reverse infinite;
}

/* Sticky */

.content-design__sticky {
  height: 100%;
  max-height: 1334px;
  min-height: 1165px;
  /* max-height: calc(528px * 64 / 100); */
  /* max-width: 100%; */
  width: 50.15462000000001%;
  opacity: 0.5;
  position: absolute;
  /* background: violet; */
  opacity: 1;
  top: 1%;
  z-index: 1;
  right: 0;
  /* bottom: 257px; */
  /* margin-left: 11%; */
  margin-right: 39%;
  /* margin-bottom: 2000px; */
  margin-top: 26.01%;
}

.sticky-container {
  position: sticky;
  width: 100%;
  max-width: 954px;
  max-height: 100%;
  height: 26.8vw;
  background-color: transparent;
  right: 0px;
  top: 250px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sticky__header-bar {
  width: 100%;
  height: 28px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.header-bar-icon-container-right,
.header-bar-icon-container-left {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 100%;
}

.header-bar-icon-container-right {
  border-left: 1px solid #ccc;
}

.header-bar-icon-container-left {
  border-right: 1px solid #ccc;
}
.sticky__main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.sticky__main-mirror {
  width: 100%;
  height: 100%;
  flex: 1;
  /* background-color: #24282d; */
  border: 1px solid #fff;
  /* opacity: 0.7; */
  overflow: hidden;
}

#mirror-video {
  width: 100%;
  filter: blur(7px);
  transform: scale(1.23);
}

.sticky__main-side-bar {
  width: 17.51%;
  background-color: #fff;
  height: 100%;
  margin-left: 18px;
}

/* side bar top  */

.side-bar-top-container {
  display: flex;
  height: 50%;
  position: relative;
  flex-direction: column;
}

.side-bar__header {
  position: absolute;
  height: 11.2%;
  background-color: #f4f5f8;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.side-bar__header-text {
  font-size: 1rem;
  font-family: headerfont;
  font-weight: 700;
  padding-left: 12px;
}

.side-bar__header-icon {
  font-size: 0.7rem;
  padding-right: 12px;
}

.side-bar-top__content {
  height: 100%;
  /* background-color: green; */
  position: relative;
  padding: 12px;
}

.side-bar-top__content-header {
  position: absolute;
  top: 0;
  height: 34px;
  width: 100%;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  position: relative;
}

.content-header__text {
  font-size: 1rem;
  color: #000;
}

.side-bar-top__content-main {
  height: calc(100% - 34px);
  width: 100%;
  /* background-color: hotpink; */
  position: relative;
}

.content-main__btn {
  display: flex;
  justify-content: space-between;
  height: 30px;
  /* background-color: indianred; */
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
}

.content-main__btn-right,
.content-main__btn-left {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 3px;
}

.content-main__btn-left {
  color: #828593;
  border: 1px solid #e7e8ee;
}
.content-main__btn-right {
  background-color: #e8f1ff;
  color: #84b4ff;
  border: 1px solid #9cc3ff;
}

.content-main__info {
  /* background-color: #ccc; */
  width: 100%;
  height: 129px;
}

.content-main__info-row {
  display: flex;
  justify-content: space-between;
  height: 28.562%;
  align-items: center;
}
.content-main__info-col {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding-right: 5px;
  align-items: center;
}

.content-main__info-row-text {
  display: inline-block;
  flex: 1;
  font-size: 0.8rem;
}

.content-main__info-row-btn {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
}

.content-main__info-row-btn-unit {
  display: inline-block;
  font-size: 0.8rem;
  color: #9cc3ff;
}

.content-main__info-col > i {
  color: #84b4ff;
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-right: 7px;
}

/* side bar bottom */

.side-bar-bottom-container {
  width: 100%;
  height: 50%;
  /* background-color: aqua; */
}

.side-bar-bottom__control {
  width: 100%;
  height: 60%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-bottom__control-item {
  width: 60%;
  height: 60%;
  background-color: #f3f7fd;
  border-radius: 5px;
  position: relative;
  border: 1.5px solid #e5e7ed;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.control-item__point {
  width: 8px;
  height: 8px;
  background-color: #c7ddff;
  position: absolute;
  border-radius: 50%;
  border: 1.5px solid #79aeff;
}

.control-item__point--above {
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.control-item__point--left {
  top: 50%;
  transform: translateY(-50%);
  left: -4px;
}

.control-item__point--right {
  top: 50%;
  transform: translateY(-50%);
  right: -4px;
  background-color: #1f77ff;
}

.control-item__point--under {
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.control-item__point--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #1f77ff;
}

.control-item__box {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 0.5px solid #bbbcbe;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.control-item__box::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px dashed #5596ff;
  top: 50%;
  transform: translateY(-50%);
  right: -118%;
}

.side-bar-bottom__info-row {
  height: calc(129px / 4);
}

.side-bar-bottom__info-btn {
  margin: 0 5px;
}

.side-bar-bottom__info-icon {
  color: #8e93aa;
}

/* Team collab */

.teamwork {
  height: 1080px;
  background-color: #eef0f4;
}

.teamwork__header-container {
  position: relative;
}

.teamwork__header {
  position: absolute;
  top: 106px;
  left: 74px;
  width: 100%;
}

.teamwork__header-page {
  font-size: 8rem;
  line-height: 8rem;
}

.teamwork-description__text {
  width: 90%;
  font-family: desfont;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 4rem;
}

.teamwork-btn {
  position: relative;
  overflow: hidden;
}

.teamwork-btn:hover #video-hover-teamwork {
  opacity: 1;
}

.teamwork-btn-link {
  position: absolute;
  left: 0;
  text-shadow: 0 0 5px #000;
}

#video-hover-teamwork {
  position: relative;
  opacity: 0;
  z-index: 0;
  width: 100%;
  transition: all ease 0.7s;
  filter: blur(1px);
}

.more__link-teamwork {
  max-width: 204px;
  position: relative;
}

.more__link-teamwork::before {
  content: "";
  width: 86%;
}

.teamwork__member {
  /* background-color: skyblue; */
  max-height: 100%;
}

.teamwork__member-item {
  /* background-color: springgreen; */
  padding: 0;
  height: 100%;
  border-right: 1px solid #979aaa;
  border-bottom: 1px solid #979aaa;
  position: relative;
  overflow: hidden;
}

.teamwork__member-item--show {
  overflow: unset;
}

.teamwork__member-item:first-child {
  border-left: 1px solid #979aaa;
}

.teamwork__member-item--borderless {
  border-right: none;
  position: relative;
}

.teamwork__member-item--borderless::after {
  content: "";
  position: absolute;
  width: 5.8vw;
  border: 1px dashed #000;
  right: -2.98vw;
  top: 42%;
  transform: translateY(-50%);
}
.teamwork__member-status--boss,
.teamwork__member-status {
  position: absolute;
  padding: 0 25px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateX(-101%);
  transition: transform ease 0.3s;
  z-index: 1;
}

.teamwork__member-status--boss {
  top: unset;
}

.teamwork__member-item:hover .teamwork__member-status {
  transform: translateX(0);
  transition: transform ease 0.5s;
  transition-delay: 0.8s;
}

.member-status__header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0034d9; */
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}
.member-status__header-text {
  font-size: 1.7rem;
}
.member-status__header-icon {
  font-size: 1.5rem;
}

.member-status__content-type {
  /* background-color: #00d700; */
  height: 40px;
  display: flex;
  align-items: center;
}

.member-status__content-type__text {
  font-size: 1.5rem;
  color: rgb(121, 121, 121);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.member-status__member-info-form {
  display: flex;
  /* background-color: #2dd1b0; */
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.member-status__member-info__img {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.member-status__member-info {
  margin-left: 22px;
}
.member-status__member-info-name {
  font-size: 1.6rem;

  margin-bottom: 5px;
}

.member-status__member-info-time {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(121, 121, 121);
}

.member-status__member-info-boss {
  font-size: 1.4rem;
  font-family: headerfont;
  color: rgb(121, 121, 121);
}
.member-status__member-info-boss-icon,
.member-status__member-info-time-icon {
  font-size: 1.1rem;
  margin-right: 3px;
}

.member-status__member-info-boss-icon {
  font-size: 1.2rem;
}

.member-status__member-cmt-text {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.1rem;
}
.member-status__footer {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  position: absolute;
  bottom: 24px;
  left: 25px;
  right: 25px;
}

.member-status__footer-text,
.member-status__footer-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.teamwork__member-row {
  height: calc(1080px / 3);
}

.member-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: var(--member-img-container-height);
  height: 100%;
  align-items: flex-end;
  position: relative;
}

.member-img-container::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  bottom: calc((7.96vw / 2) - 5px);
  transform: rotate(0deg) translateY(4vw) rotate(0deg);
  transition: all ease 1.3s;
}
.member-img-item--one::before {
  border-color: #482a20 !important;
  top: -4px !important;
  right: -5px !important;
  left: -4px !important;
  bottom: 1px !important;
}
.member-img-container--one::after {
  background-color: #bda182;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--one::after {
  transform: rotate(140deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #d0b596, 0 0 20px #d0b596, 0 0 30px #d0b596,
    0 0 40px #d0b596, 0 0 50px #d0b596, 0 0 60px #d0b596, 0 0 70px #d0b596,
    0 0 80px #d0b596, 0 0 90px #d0b596, 0 0 100px #d0b596;
}
.member-img-item--two::before {
  border-color: #d8d1f6 !important;
}
.member-img-container--two::after {
  background-color: #b2a2f7;
  border: 2px solid #eef0f4;
}
.teamwork__member-item:hover .member-img-container--two::after {
  transform: rotate(200deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #b9acf0, 0 0 20px #b2a2f7, 0 0 30px #b2a2f7,
    0 0 40px #b2a2f7, 0 0 50px #b2a2f7, 0 0 60px #b2a2f7, 0 0 70px #b2a2f7,
    0 0 80px #b2a2f7, 0 0 90px #b2a2f7, 0 0 100px #b2a2f7;
}
.member-img-item--three::before {
  border-color: #ffab00 !important;
  bottom: 1px !important;
}
.member-img-container--three::after {
  background-color: #ffab00;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--three::after {
  transform: rotate(275deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #ffab00, 0 0 20px #ffab00, 0 0 30px #ffab00,
    0 0 40px #ffab00, 0 0 50px #ffab00, 0 0 60px #ffab00, 0 0 70px #ffab00,
    0 0 80px #ffab00, 0 0 90px #ffab00, 0 0 100px #ffab00;
}
.member-img-item--four::before {
  border-color: #ff4343 !important;
  right: -4px !important;
}
.member-img-container--four::after {
  background-color: #ff4343;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--four::after {
  transform: rotate(111deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #ff4343, 0 0 20px #ff4343, 0 0 30px #ff4343,
    0 0 40px #ff4343, 0 0 50px #ff4343, 0 0 60px #ff4343, 0 0 70px #ff4343,
    0 0 80px #ff4343, 0 0 90px #ff4343, 0 0 100px #ff4343;
}
.member-img-item--five::before {
  border-color: #00d700 !important;
  top: -3px !important;
  right: -4px !important;
  left: -4px !important;
  bottom: 1px !important;
}
.member-img-container--five::after {
  background-color: #00d700;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--five::after {
  transform: rotate(135deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #00d700, 0 0 20px #00d700, 0 0 30px #00d700,
    0 0 40px #00d700, 0 0 50px #00d700, 0 0 60px #00d700, 0 0 70px #00d700,
    0 0 80px #00d700, 0 0 90px #00d700, 0 0 100px #00d700;
}

.member-img-item--six::before {
  border-color: #2dd1b0 !important;
}
.member-img-container--six::after {
  background-color: #2dd1b0;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--six::after {
  transform: rotate(253deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #2dd1b0, 0 0 20px #2dd1b0, 0 0 30px #2dd1b0,
    0 0 40px #2dd1b0, 0 0 50px #2dd1b0, 0 0 60px #2dd1b0, 0 0 70px #2dd1b0,
    0 0 80px #2dd1b0, 0 0 90px #2dd1b0, 0 0 100px #2dd1b0;
}

.member-img-item--seven::before {
  border-color: #00a3ff !important;
  right: -4px !important;
}
.member-img-container--seven::after {
  background-color: #00a3ff;
  border: 2px solid #eef0f4;
}

.teamwork__member-item:hover .member-img-container--seven::after {
  transform: rotate(190deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #00a3ff, 0 0 20px #00a3ff, 0 0 30px #00a3ff,
    0 0 40px #00a3ff, 0 0 50px #00a3ff, 0 0 60px #00a3ff, 0 0 70px #00a3ff,
    0 0 80px #00a3ff, 0 0 90px #00a3ff, 0 0 100px #00a3ff;
}
.member-img-item--eight::before {
  border-color: #fe7e3f !important;
}
.member-img-container--eight::after {
  background-color: #fe7e3f;
  border: 2px solid #eef0f4;
}
.teamwork__member-item:hover .member-img-container--eight::after {
  transform: rotate(120deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #fe7e3f, 0 0 20px #fe7e3f, 0 0 30px #fe7e3f,
    0 0 40px #fe7e3f, 0 0 50px #fe7e3f, 0 0 60px #fe7e3f, 0 0 70px #fe7e3f,
    0 0 80px #fe7e3f, 0 0 90px #fe7e3f, 0 0 100px #fe7e3f;
}
.member-img-item--me::before {
  border-color: #fc8fbd !important;
  right: -4px !important;
  bottom: 1px !important;
}
.member-img-container--me::after {
  background-color: #fc8fbd;
  border: 2px solid #eef0f4;
}

.teamwork-invite {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: var(--member-img-container-height);
  height: 100%;
  align-items: flex-end;
  position: relative;
}

.teamwork-invite__circle {
  width: 54%;
  height: 7.96vw;
  border-radius: 100%;
  border: 1px solid;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7e7d8c;
  transition: all ease 0.3s;
  cursor: pointer;
}

.teamwork-invite__circle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  bottom: 8px;
  border-radius: 100%;
  border: 1px solid #d6dada;
  transition: all ease 0.3s;
}

.teamwork-invite__circle::after {
  content: "";
  position: absolute;
  bottom: calc((7.96vw / 2) - 7px);
  width: 100%;
  height: 100%;
  max-width: 12px;
  max-height: 12px;
  border-radius: 100%;
  background-color: coral;
  border: 1px solid #d6dada;
  transform: rotate(0deg) translateY(4vw) rotate(0deg);
  transition: all ease 1s;
}

.teamwork-invite__circle:hover {
  border-color: #fc8fbd;
}

.teamwork-invite__circle:hover::before {
  border-color: #f8d3e3;
}
.teamwork-invite__circle:hover .teamwork-invite__icon,
.teamwork-invite__circle:hover .teamwork-invite__text {
  color: #fc8fbd;
}

.teamwork-invite__circle:hover::after {
  transform: rotate(360deg) translateY(4vw) rotate(-360deg);
  transition: all linear 0.3s infinite;
  box-shadow: 0 0 10px #fc8fbd, 0 0 20px #fc8fbd, 0 0 30px #fc8fbd,
    0 0 40px #fc8fbd, 0 0 50px #fc8fbd, 0 0 60px #fc8fbd, 0 0 70px #fc8fbd,
    0 0 80px #fc8fbd, 0 0 90px #fc8fbd, 0 0 100px #fc8fbd;
}

.teamwork-invite__icon {
  font-size: 2.6rem;
  margin-bottom: 15px;
  color: #7e7d8c;
  transition: all ease 0.3s;
}

#member--me-checkbox {
  display: none;
}

.teamwork-invite__circle:checked ~ .member-info.member-info--me,
.teamwork-invite__circle:checked ~ .member-img-container--me {
  display: flex;
  animation: fadeIn ease 0.8s;
}

.teamwork-invite__circle:checked ~ .teamwork-invite {
  display: none;
  animation: fadeOut ease 0.8s;
}

.teamwork-invite__text {
  font-size: 1.5rem;
  color: #7e7d8c;
  transition: all ease 0.3s;
}

.member-info.member-info--me,
.member-img-container--me {
  display: none;
}

.teamwork-invite__circle:focus .member-info.member-info--me,
.teamwork-invite__circle:focus .member-img-container--me {
  display: flex;
  animation: fadeIn ease 0.8s;
}

.teamwork__member-item:hover .member-img-container--me::after {
  transform: rotate(235deg) translateY(4vw) rotate(-360deg);
  transition: all ease 0.7s;
  box-shadow: 0 0 10px #fc8fbd, 0 0 20px #fc8fbd, 0 0 30px #fc8fbd,
    0 0 40px #fc8fbd, 0 0 50px #fc8fbd, 0 0 60px #fc8fbd, 0 0 70px #fc8fbd,
    0 0 80px #fc8fbd, 0 0 90px #fc8fbd, 0 0 100px #fc8fbd;
}

.member-img {
  border-radius: 100%;
  width: 100%;
  height: auto;
}

.member-img-item {
  /* background: blueviolet; */
  width: 50%;
  height: auto;
  border-radius: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.member-img-item::before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: -4px;
  right: -5px;
  left: -4px;
  bottom: 2px;
  border: 1.5px solid;
}

.member-info {
  height: calc(100% - var(--member-img-container-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member-info__name,
.member-info__email {
  font-size: 1.5rem;
}

.member-info__name {
  display: inline-block;
  margin-bottom: 10px;
}

.member-info__email {
  display: inline-block;
  text-decoration: none;
  color: #786279;
}

.teamwork__design {
  /* background-color: slateblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.teamwork__design-img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 75%;
  border: 1px solid rgb(207, 209, 220);
  transition: all ease 0.2s;
  top: 0;
  position: relative;
}

.teamwork__design-img:hover {
  top: -15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* CMS */

.cms {
  height: 1080px;
  background: linear-gradient(
    170deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 1, 3, 1) 31%,
    rgba(2, 3, 10, 1) 45%,
    rgba(7, 10, 22, 1) 55%,
    rgba(33, 7, 37, 1) 68%,
    rgba(30, 9, 50, 1) 72%,
    rgba(25, 13, 76, 1) 78%,
    rgba(18, 19, 113, 1) 87%,
    rgba(10, 25, 142, 1) 93%,
    rgba(133, 7, 133, 1) 100%,
    rgba(15, 32, 186, 1) 100%
  );
  position: relative;
}

.cms-header {
  width: 72%;
}

.cms-description {
  max-width: 540px;
  width: 100%;
  position: relative;
}

.cms-description__text {
  font-size: 2rem;
  font-family: headerfont;
  line-height: 3rem;
  display: block;
  padding-bottom: 67px;
}

.cms-btn {
  --btn-width: 100%;
  width: var(--btn-width);
  top: 0;
  /* transform: translateY(-50%); */
  right: -80%;
}

.cms__image-app {
  position: absolute;
  top: 393px;
  right: 211px;
  z-index: 1;
  overflow: hidden;
}

.cms__image-app:checked ~ .cms__image-app-thumbnail {
  transform: translateY(0);
}

.cms__image-app-thumbnail {
  position: absolute;
  bottom: 98px;
  left: 173px;
  transition: all 0.5s ease;
  transform: translateY(369px);
}
.cms__image-list {
  position: absolute;
  top: 288px;
  left: 288px;
  overflow: hidden;
}

.cms__image-list:checked ~ .cms__image-list-thumbnail {
  transform: translateY(0);
}

.cms__image-list-thumbnail {
  position: absolute;
  left: 260px;
  bottom: 197px;
  transform: translateY(231px);
  transition: all 0.5s ease;
}

/* custom code page */

.custom-code {
  background-image: url(./img/standard-background/standard-background.webp);
  height: 1189px;
  position: relative;
}

.custom-code__side-icon--left {
  position: absolute;
  left: 0;

  top: 50%;
}
.custom-code__side-icon--right {
  position: absolute;
  right: 0;
  top: 50%;
}

.svg-color {
  fill: #000;
}

.custom-code__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 190px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #f1f3f4;
}

.sticky__header-bar--custom-code {
  margin: 0;
  height: 48px;
}

.header-bar-icon-container-left--custom-code,
.header-bar-icon-container-right--custom-code {
  font-size: 2.5rem;
}

.custom-code__header-container {
  width: 1542px;
  height: 490px;
  position: relative;
  /* background-color: violet; */
  overflow: hidden;
}

#my-video {
  position: absolute;
  right: 0;
  bottom: 0;
}

.academy-header,
.custom-code-header {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-description,
.function-description,
.editor-description,
.academy-description,
.custom-code-description {
  position: relative;
  font-size: 2.4rem;
  max-width: 830px;
  width: 100%;
  text-align: center;
}

.about-btn,
.academy-btn,
.custom-code-btn {
  left: 50%;
  transform: translateX(-50%);
}

.about-btn:hover,
.custom-code-btn:hover {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-code-btn:hover .btn-link--custom-code {
  color: #fff;
}

.custom-code__img {
  padding: 0;
}

/* marketing  */

.marketing {
  height: 1080px;
  background: url(./img/standard-background/standard-background.webp),
    linear-gradient(
      170deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(2, 3, 10, 1) 41%,
      rgba(66, 85, 123, 1) 100%,
      rgba(133, 7, 133, 1) 100%
    );
  position: relative;
  overflow: hidden;
}
.website-template-header,
.marketing-header {
  margin: 0 122px;
  padding-left: 0;
  padding-right: 0;
}
.header__website-template,
.header__marketing {
  width: 100%;
}

.website-template-description,
.marketing-description {
  position: relative;
  max-width: 800px;
  width: 100%;
}
.website-template-description__text,
.marketing-description__text {
  font-size: 2rem;
  line-height: 3rem;
}

.more--website-template,
.more--marketing {
  position: absolute;
  margin-top: 17px;
  left: 39%;
}

.more__link-marketing::before {
  content: "";
  width: 87%;
}

.marketing__container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.marketing__image {
  padding-top: 50px;
  /* background-color: gray; */
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.more--marketing-img {
  position: absolute;
  top: 15px;
  left: -200px;
  transition: all ease 0.8s;
}

.marketing__image:hover .more--marketing-img {
  left: 25px;
  transition-delay: 0.2s;
}

.marketing__image:nth-child(2):hover .more--marketing-img {
  left: 0;
}
.marketing__image:nth-child(3):hover .more--marketing-img {
  left: 50px;
}

.more__icon-marketing {
  font-size: 1.5rem;
  margin-right: 5px;
}

.more__link-marketing-img {
  margin: 0;
  color: rgb(207, 38, 212);
  font-size: 1.9rem;
}

/* discover */

.discover {
  background-image: url(./img/discover/potrait-background.webp);
  height: 3265px;
  position: relative;
}

.discover-sticky-container {
  background-image: url(./img/discover/sticky-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(659px + 159px);
  width: 100%;
  position: sticky;
  top: var(--header-height);
}

.discover-header {
  margin-left: 90px;
  flex-direction: column;
  position: relative;
}

.header__discover {
  max-width: 1252px;
  width: 100%;
  flex-direction: column;
}

.discover-description {
  position: absolute;
  top: 100%;
  left: 17%;
}

.more__link-discover::before {
  width: 87%;
}

.btn-link--discover:hover {
  top: 0;
  color: #fff;
}

.discover-btn:hover {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
}

.discover-btn {
  left: -125%;
  top: 32%;
}

/* academy  */

.academy {
  background: url(./img/standard-background/standard-background.webp);
  background-size: cover;
  height: 1096px;
  overflow: hidden;
}

.academy-description {
  padding-top: 50px;
}

.more__link-academy::before {
  width: 80%;
}

.academy-btn {
  top: 80%;
  left: 31%;
  overflow: hidden;
}

.btn-link--website-template,
.btn-link--academy {
  position: absolute;
  left: 0%;
}

.academy-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.academy-btn:hover #video-hover {
  transition: all ease 0.5s;
  filter: blur(3px);
}

.more--academy {
  position: relative;
  left: 50%;
  max-width: 300px;
}

#video-hover {
  position: relative;
  z-index: 0;
  width: 100%;
  transition: all ease 0.5s;
}

.academy-header__container {
  display: flex;
  justify-content: center;
}

.academy-content__container {
  height: calc(100% - 437px - 94px);
  margin-top: 94px;
  width: 100%;
  flex-wrap: nowrap;
}

.academy-content {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.academy-content__image {
  width: 100%;
  background-size: cover;
}

.academy-content__header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #000;
}

.academy-content__header-text {
  font-size: 2.1rem;
  line-height: 40px;
}

.academy-content__header-icon {
  margin-right: 5px;
  margin-top: -5px;
}

/* editor  */

.editor {
  height: 997px;
  background-color: #141414;
}

.editor__header {
  width: 100%;
  padding-bottom: 20px;
}

.editor-header-text {
  font-size: 7.2rem;
}
.function-description__text,
.editor-description__text {
  max-width: 372px;
  width: 100%;
  text-align: left;
  margin-top: 26px;
}

.editor-content__container {
  height: calc(100% - 276px);
}

.editor-content {
  height: 100%;
  width: 100%;
  border-top: 1px solid #fff;
  position: relative;
}

.editor-content__item {
  position: absolute;
  right: 60px;
  top: 60px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor-content__item--center {
  margin: auto;
  right: 50%;
  transform: translateX(50%);
}

.editor-content:last-child .editor-content__item {
  right: unset;
  left: 60px;
}

.editor-content__item-header {
  color: #fff;
  margin-bottom: 20px;
}

.editor-content__item-header-text {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 30px;
  letter-spacing: 0.3rem;
}
.editor-content__item-header-description {
  font-size: 2rem;
  line-height: 3rem;
  font-family: desfont;
  max-width: 421px;
  width: 100%;
}

.editor-content:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.more__link-editor--one {
  max-width: 115px;
}

.more__link-editor--one::before {
  width: 66%;
  margin-left: 11px;
}

.more__link-editor--two {
  max-width: 140px;
}

.more__link-editor--two::before {
  width: 79%;
}

.more__link-editor--three {
  max-width: 245px;
}

.more__link-editor--three::before {
  width: 84%;
  margin-left: 11px;
}

/* function  */

.function {
  height: 678px;
  width: 100%;
  background: url(./img/standard-background/standard-background.webp), #f4f6fa;
}

.function-content {
  display: flex;
  align-items: center;
}

.function__header-container {
  padding: 0;
  min-width: 100%;
  height: calc(678px / 3);
}

.function-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 80px;
  height: 100%;
  border-bottom: 1px solid #000;
}

.function-content:last-child .function-header {
  border-bottom: unset;
}

.function-header-text {
  font-size: 5rem;
  display: inline-block;
  margin-right: 100px;
  min-width: 544px;
}

.function-description {
  display: inline-block;
}

.function-description__text {
  max-width: 740px;
}

/* website template  */

.website-template {
  height: 954px;
  background-color: #f9fbfd;
}

.header__website-template {
  font-size: 7rem;
  margin-right: 50px;
}

.website-template-description__text {
  margin-top: 24px;
  max-width: 510px;
  width: 100%;
  font-size: 2.5rem;
  line-height: 4rem;
  margin-bottom: -20px;
}

.more__link-website-template::before {
  width: 88%;
}

.website-template-btn {
  overflow: hidden;
}

.website-template-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease 0.7s;
}

.website-template-btn:hover #video-hover {
  filter: blur(3px);
  opacity: 1;
}

.website-template-btn:hover #video-hover-view-template {
  filter: blur(2px);
  opacity: 1;
}

#video-hover-view-template {
  opacity: 0;
  width: 100%;
  transition: all ease 0.7s;
}

/* website slider */

.website-slider {
  height: 70vh;
  position: relative;
  perspective: 700px;
  transform-style: preserve-3d;
  display: flex;
  margin-top: 38px;
}

.website-slider .picture {
  position: absolute;
  max-width: 647px;
  width: 100%;
  height: 100%;
  max-height: 371px;
  margin: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
  transition: transform ease 0.5s;
}

.more__link-slider {
  /* display: none; */
  padding: 0;
  margin: 0 10px 0 0;
  /* bottom: -379px; */
}

.more__link-slider::before {
  width: 100%;
}

.more__link-slider:hover {
  right: unset;
  transition: ease 0.3s;
  color: #d9dada;
}

.btn-link--view-template {
  position: absolute;
  left: 0;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
}

.view-template-btn {
  transform: scale(0.75);
  right: 31%;
  display: none;
}

.btn--black-text-hover:hover {
  color: #000;
}

#pic1:checked ~ .picture-four,
#pic2:checked ~ .picture-five,
#pic3:checked ~ .picture-one,
#pic4:checked ~ .picture-two,
#pic5:checked ~ .picture-three {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-90%, 0, -300px) rotateY(40deg);
}
#pic1:checked ~ .picture-five,
#pic2:checked ~ .picture-one,
#pic3:checked ~ .picture-two,
#pic4:checked ~ .picture-three,
#pic5:checked ~ .picture-four {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-50%, 0, -200px) rotateY(40deg);
}
#pic1:checked ~ .picture-one,
#pic2:checked ~ .picture-two,
#pic3:checked ~ .picture-three,
#pic4:checked ~ .picture-four,
#pic5:checked ~ .picture-five {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 150px);
}

/* #pic1:checked ~ .picture-one .view-template-btn,
#pic2:checked ~ .picture-two .view-template-btn,
#pic3:checked ~ .picture-three .view-template-btn,
#pic4:checked ~ .picture-four .view-template-btn,
#pic5:checked ~ .picture-five .view-template-btn {
  display: none;
  animation: fadeIn ease 1.5s;
} */

#pic1:checked ~ .picture-two,
#pic2:checked ~ .picture-three,
#pic3:checked ~ .picture-four,
#pic4:checked ~ .picture-five,
#pic5:checked ~ .picture-one {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(50%, 0, -200px) rotateY(-40deg);
}
#pic1:checked ~ .picture-three,
#pic2:checked ~ .picture-four,
#pic3:checked ~ .picture-five,
#pic4:checked ~ .picture-one,
#pic5:checked ~ .picture-two {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(90%, 0, -300px) rotateY(-40deg);
}

[type="radio"] {
  display: none;
}

/* about */

.about {
  height: 780px;
  overflow: hidden;
  position: relative;
}

#about-video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.about__header-container {
  position: relative;
}

.about__side-icon--left {
  position: absolute;

  left: 0;
}

.about__side-icon--right {
  position: absolute;
  right: 0;
}

.about-header {
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(780px / 4);
  left: 0;
  right: 0;
}

.header__about {
  font-size: 12rem;
}

.about-btn:hover .btn-link--about {
  color: #fff;
}

.about-description__text {
  font-size: 6.4rem;
  padding-top: 25px;
  padding-bottom: 31px;
}

/* footer */

.footer {
  width: 100%;
  height: 858px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  max-width: 1245px;
  width: 100%;
}

.footer-info__policy-container {
  height: 858px;
  width: 100%;
  /* background-color: green; */
  height: 100%;
}

.footer-info__policy {
  height: 100%;

  width: 100%;
  /* background-color: wheat; */
}

.footer-info__policy-header {
  margin: 14px 0 0 0px;
  font-size: 1.8rem;
  font-family: headerfont;
  letter-spacing: 0.1rem;
}

.footer-info__policy-list {
  list-style: none;
  padding-left: 0;
}

.footer-info__policy-list-item {
  margin: 25px 0px;
}

.footer-info__policy-list-item-link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  right: 0;
  transition: right ease 0.4s;
}

.footer-info__policy-list-item-link:hover {
  color: var(--primary-color);
  right: -7px;
  transition: right ease 0.2s;
}

.footer-info__text {
  width: 100%;
  height: 100%;
  /* background-color: #2dd1b0; */
}

.footer-info__text__logo {
}

.footer-info__text__description {
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.5rem;
  margin-top: 8px;
}

.footer-copyright {
  height: 52px;
  /* background-color: #294640; */
  display: flex;
  align-items: flex-end;
  border-top: 1px solid #cbcbcb;
  margin: 5px 16px;
}

.footer-copyright__text {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright__social {
  display: flex;
  justify-content: flex-end;
}

.footer-copyright__social-link {
  color: #000;
  font-size: 2.5rem;
  text-decoration: none;
  margin-left: 30px;
  transition: transform ease 0.2s;
  transform: scale(1);
  position: relative;
}

.footer-copyright__social-link:hover {
  transition: transform ease 0.2s;
  transform: scale(1.3);
}

.footer-copyright__social-link:hover .footer-copyright__social-icon--facebook {
  color: #0f90f3;
}
.footer-copyright__social-link:hover .footer-copyright__social-icon--instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-copyright__social-link:hover .footer-copyright__social-icon--twitter {
  color: #1d9bf0;
}
.footer-copyright__social-link:hover .footer-copyright__social-icon--youtube {
  color: #e60023;
}

.footer-info__text__logo-img {
  width: 135px;
  height: auto;
}
